{% csrf_token %}
{% load humanize madlibs %}

<!-- Brian: This uses that glossary JS thing again, maybe another HTMX item? -->
<p class="explain">Interact with charts and statistics for <span class="glossary-term" data-keyword="margin-of-error">margins of error</span> and additional information.</p>

{% for section in sections %}
<article id="{{ section.anchor }}"
         {% comment %}class="clearfix"{% endcomment %}
         hx-post="{% url 'scroll_checkpoint' location.id %}" 
         hx-trigger="intersect threshold:0.2"
         hx-target="find input"
         hx-include="find input"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <input name="checkpoint" type="hidden" value="{{ section.anchor }}"/>
    <header class="section-contents">
        <h1>{{ section.name }}</h1>
    </header>
    {% for category in section.category_set.all %}
    <div class="section-container">
        <section class="{% comment %}clearfix {% endcomment %}stat-row">
            <div class="section-intro">
                <h2 class="header-for-columns">
                    <a class="permalink section" href="#{{ category.anchor }}" id="{{ category.anchor }}" title="Permalink">
                        {{ category.name }}<br /><i class="fa fa-link"></i></a>
                    <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
                </h2>
                <aside></aside>
            </div>
            <div class="section-visuals">
                {% for indicator in category.indicator_set.all %}
                {% for data_visual in indicator.indicatordatavisual_set.all %}
                <div class="column-{{ data_visual.columns }} data-visual-container">
                    <h3 class="chart-title">
                        {{ indicator.name }}
                        {% if indicator.indicator_type == 'rate' %}
                            (per {{ indicator.rate_per|intcomma }})
                        {% endif %}
                        ({% if data_visual.data_visual_type == 'line' %}{{ data_visual.start_date.year }} - {% endif %}{{ data_visual.end_date.year }})
                    </h3>
                    <div id="indicator-{{ data_visual.indicator_id }}-{{ data_visual.data_visual_type }}-container"></div>
                    {% if indicator.qualifier %}
                    <span class="chart-qualifier">{{ indicator.qualifier }}</span>
                    {% endif %}
                    {% if data_visual.data_visual_type != 'ban' and data_visual.data_visual_type != 'min_med_max' %}
                    <button class="show-data-button" data-indicator-id="{{ indicator.id }}" data-category-id="{{ category.id }}" data-datavisual-type="{{ data_visual.data_visual_type }}">Show data</button>
                    {% endif %}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </section>
        {% for indicator in indicators %}
        {% if indicator.category_id == category.id %}
        {% for data_visual in data_visuals %}
        {% if data_visual.indicator_id == indicator.id %}
        <section id="indicator-{{ indicator.id }}-datatable-container" data-category-id="{{ category.id }}" data-indicator-id="{{ indicator.id }}" class="data-drawer" style="display: none;">
            <h3 class="chart-title">
                <span>{{ indicator.name }} ({{ data_visual.end_date.year }} {{ data_visual.source__name }})</span>
                <button class="show-data-button" data-indicator-id="{{ indicator.id }}" data-category-id="{{ category.id }}" data-datavisual-type="{{ data_visual.data_visual_type }}">Hide data</button>
            </h3>
            <table class="full-width">
            </table>
        </section>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

</article>
{% endfor %}
