{% load humanize madlibs %}

<article id="{{ section.anchor }}" data-indicator-values='{{ section.indicator_values|safe }}'>
    <header class="section-contents"
        hx-get="{% url "next_section" %}?after={{ section.sort_order }}&primary_loc_id={{ primary_loc_id }}&parent_loc_ids={{ parent_loc_ids }}"
        hx-trigger="intersect once"
        hx-swap="afterend"
        hx-target="closest article"
    >
        <h1>{{ section.name }}</h1>
    </header>
    {% for category in section.categories %}
    <div class="section-container"
         data-category-id="{{ category.id }}">
         <section class="stat-row">

            <div class="section-intro">
                <h2 class="header-for-columns">
                    <a class="permalink section" href="#{{ category.anchor }}" id="{{ category.anchor }}" title="Permalink">
                        {{ category.name }}<br /><i class="fa fa-link"></i></a>
                    <a class="permalink" href="#" title="Back to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
                </h2>
                <aside></aside>
            </div>

            <div class="section-visuals">
                {% for indicator in category.indicators %}
                {% with data_visual=indicator.visual_metadata %}
                <div class="column-{{ data_visual.columns }} data-visual-container">
                    <h3 class="chart-title">
                        {{ indicator.name }}
                        {% if indicator.indicator_type == 'rate' %}
                            (per {{ indicator.rate_per|intcomma }})
                        {% endif %}
                        ({% if data_visual.data_visual_type == 'line' %}{{ data_visual.start_date.year }} - {% endif %}{{ data_visual.end_date.year }})
                    </h3>
                    <div class="chart-container"
                         {% comment %} This is a lot -- drop these into json? (probably no){% endcomment %}
                        data-indicator-id="{{ indicator.id }}"
                        data-visual-type="{{ data_visual.data_visual_type }}"
                        data-source-id="{{ data_visual.source_id }}"
                        data-comparison-type="{{ data_visual.location_comparison_type|default:'' }}"
                        data-color-scale-id="{{ data_visual.color_scale_id|default:'' }}"
                        data-formatter="{{ indicator.formatter }}"
                        data-indicator-type="{{ indicator.type }}"
                        data-rate-per="{{ indicator.rate_per }}"
                        id="indicator-{{ indicator.id }}-{{ data_visual.data_visual_type }}-container">
                    </div>
                    {% if data_visual.data_visual_type != 'ban' and data_visual.data_visual_type != 'min_med_max' %}
                    <button class="show-data-button" data-indicator-id="{{ indicator.id }}" data-category-id="{{ category.id }}" data-datavisual-type="{{ data_visual.data_visual_type }}">Show data</button>
                    {% endif %}
                </div>
                {% endwith %}
                {% endfor %}
            </div>
        </section>
        {% for indicator in category.indicators %}
        {% with data_visual=indicator.visual_metadata %}
        <section id="indicator-{{ indicator.id }}-datatable-container" data-category-id="{{ category.id }}" data-indicator-id="{{ indicator.id }}" class="data-drawer" style="display: none;">
            <h3 class="chart-title">
                <span>{{ indicator.name }} ({{ data_visual.end_date.year }}){% if indicator.qualifier %} <span style="font-weight: normal;">{{ indicator.qualifier }}</span>{% endif %}</span>
                <button class="show-data-button" data-indicator-id="{{ indicator.id }}" data-category-id="{{ category.id }}" data-datavisual-type="{{ data_visual.data_visual_type }}">Hide data</button>
            </h3>
            <table class="full-width">
            </table>
            {% if data_visual.source %}
            <div class="aggregate-notice">
                Source: {{ data_visual.source.name }}
            </div>
            {% endif %}
        </section>
        {% endwith %}
        {% endfor %}
    </div>
    {% endfor %}
</article>
